<div class="form-submitting-page-container">
  <div class="form-submitted-heading">
    VIELEN DANK FÜR IHRE ANFRAGE, <br />
    <span class="orange-highlight"> DIE EXPERTEN</span> SCHAUEN SIE SICH <br />
    GERADE AN!
  </div>

  <div class="loupe-section">
    <img src="images\loupe.png" alt="Sonopet Image" />
  </div>
</div>

//последняя версия
<div class="form-submitting-page-container">
  <div class="form-submitted-heading">
    VIELEN DANK FÜR IHRE ANFRAGE, <br />
    <span class="orange-highlight"> DIE EXPERTEN</span> SCHAUEN SIE SICH <br />
    GERADE AN!
  </div>

  <div class="loupe-section">
    <img src="images\loupe.png" alt="Sonopet Image" />
  </div>
</div>
//актуальная версия
<div class="form-submitting-page-container">
  <div class="form-submitted-heading">
    VIELEN DANK FÜR IHRE ANFRAGE, <br />
    <span class="orange-highlight"> DIE EXPERTEN</span> SCHAUEN SIE SICH <br />
    GERADE AN!
  </div>

  <div class="loupe-section">
    <img src="images\loupe.png" alt="Sonopet Image" />
  </div>
</div>
