<div class="home-container">
  <div class="custom-heading">
    HIER NEHMEN SIE <br />
    EINE SUPPORT-ANFRAGE FÜR <br />UNSERE
    <span class="orange-highlight"> TECHNISCHEN SPEZIALISTEN </span> AUF
  </div>

  <div class="image-section">
    <img src="/images/Sonopet.webp" alt="Sonopet Image" />
  </div>

  <div class="bullet-list">
    <div class="bullet-list">
      <div class="bullet-item">
        <img src="/images/bullet.png" alt="Bullet" class="bullet-icon" />
        <span
          >Bitte nehmen Sie ein Video auf, das alle Aktionen zeigt, die zur
          Aktivierung oder Nutzung des Geräts führen und das Problem
          auslösen</span
        >
      </div>
      <div class="bullet-item">
        <img src="/images/bullet.png" alt="Bullet" class="bullet-icon" />
        <span
          >Sie können Ihre Schritte im Video mündlich kommentieren oder unten im
          Formular schriftlich beschreiben. So erhalten unsere Spezialisten ein
          vollständiges Bild und können Ihnen schnellstmöglich
          weiterhelfen</span
        >
      </div>
      <div class="bullet-item">
        <img src="/images/bullet.png" alt="Bullet" class="bullet-icon" />
        <span
          >Alle technischen Daten Ihres Geräts werden automatisch übermittelt,
          Sie müssen diese also nicht angeben</span
        >
      </div>
    </div>
  </div>

  <div class="button-section">
    <button class="button-without-circle" onclick="redirectToRecording()">
      <img src="/images/button-without-circle.png" alt="Button Image">
      <span class="blinking-circle"></span>
    </button>
  </div>
  
</div>


//посл версия 
<div class="home-container">
  <div class="custom-heading">
    HIER NEHMEN SIE <br />
    EINE SUPPORT-ANFRAGE FÜR <br />UNSERE
    <span class="orange-highlight"> TECHNISCHEN SPEZIALISTEN </span> AUF
  </div>

  <div class="image-section">
    <img src="<%= predefinedData.image %>" alt="<%= predefinedData.deviceName %>" />
  </div>

  <div class="bullet-list">
    <div class="bullet-list">
      <div class="bullet-item">
        <img src="/images/bullet.png" alt="Bullet" class="bullet-icon" />
        <span>Bitte nehmen Sie ein Video auf, das alle Aktionen zeigt, die zur
          Aktivierung oder Nutzung des Geräts führen und das Problem
          auslösen</span>
      </div>
      <div class="bullet-item">
        <img src="/images/bullet.png" alt="Bullet" class="bullet-icon" />
        <span>Sie können Ihre Schritte im Video mündlich kommentieren oder unten im
          Formular schriftlich beschreiben. So erhalten unsere Spezialisten ein
          vollständiges Bild und können Ihnen schnellstmöglich
          weiterhelfen</span>
      </div>
      <div class="bullet-item">
        <img src="/images/bullet.png" alt="Bullet" class="bullet-icon" />
        <span>Alle technischen Daten Ihres Geräts werden automatisch übermittelt,
          Sie müssen diese also nicht angeben</span>
      </div>
    </div>
  </div>

  <div class="button-section">
    <button class="button-without-circle" onclick="redirectToRecording()">
      <img src="/images/button-without-circle.png" alt="Button Image" />
      <span class="blinking-circle"></span>
    </button>
  </div>
</div>
//актуальная версия
<div class="home-container">
  <div class="custom-heading">
    HIER NEHMEN SIE <br />
    EINE SUPPORT-ANFRAGE FÜR <br />UNSERE
    <span class="orange-highlight"> TECHNISCHEN SPEZIALISTEN </span> AUF
  </div>

  <div class="image-section">
    <img src="<%= predefinedData.image %>" alt="<%= predefinedData.deviceName %>" />
  </div>

  <div class="bullet-list">
    <div class="bullet-list">
      <div class="bullet-item">
        <img src="/images/bullet.png" alt="Bullet" class="bullet-icon" />
        <span>Bitte nehmen Sie ein Video auf, das alle Aktionen zeigt, die zur
          Aktivierung oder Nutzung des Geräts führen und das Problem
          auslösen</span>
      </div>
      <div class="bullet-item">
        <img src="/images/bullet.png" alt="Bullet" class="bullet-icon" />
        <span>Sie können Ihre Schritte im Video mündlich kommentieren oder unten im
          Formular schriftlich beschreiben. So erhalten unsere Spezialisten ein
          vollständiges Bild und können Ihnen schnellstmöglich
          weiterhelfen</span>
      </div>
      <div class="bullet-item">
        <img src="/images/bullet.png" alt="Bullet" class="bullet-icon" />
        <span>Alle technischen Daten Ihres Geräts werden automatisch übermittelt,
          Sie müssen diese also nicht angeben</span>
      </div>
    </div>
  </div>

  <div class="button-section">
    <button class="button-without-circle" onclick="redirectToRecording()">
      <img src="/images/button-without-circle.png" alt="Button Image" />
      <span class="blinking-circle"></span>
    </button>
  </div>
</div>
